.container {
  border: 1px solid #dadde1;
}

.container .temperature {
  font-weight: bold;
  color: black;
  font-size: 36px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.container .unit {
  font-weight: bold;
  color: black;
  font-size: 36px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}
